/* ============================================= */
 /* Variables */
 /* ============================================= */

// Button color
$default-btn-color: #51ddfc;
$success-btn-color: #e4757a;
$error-btn-color: #927bc1;
$warning-btn-color: #63cc82;
$info-btn-color: #fd7856;

// Breakpoints
$break-tablet: 768px;