/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $default-btn-color;
  transition: background-color .5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($default-btn-color, 15%);
  }
}

.error {
  background-color: $error-btn-color;
  transition: background-color .5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($error-btn-color, 15%);
  }
}

.info {
  background-color: $info-btn-color;
  transition: background-color .5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($info-btn-color, 15%);
  }
}

.success {
  background-color: $success-btn-color;  
  transition: background-color .5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($success-btn-color, 15%);
  }
}

.warning {
  background-color: $warning-btn-color;
  transition: background-color .5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($warning-btn-color, 15%);
  }
}

