/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include blockAuto {
    @include marginTopMaxWidth;
    max-height: 100%;
  }
}

.img-frame {
  @include blockAuto {
    @include marginTopMaxWidth;
    padding: 13px;
    border: 1px solid #ccc;
  }
}

.img-logo {
  @include blockAuto;
}